[phases.setup]
nixPkgs = [
  'nodejs_18',
  'chromium'
]

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = []

[phases.runtime]
nixPkgs = [
  'libnss3',
  'libatk1.0-0',
  'libatk-bridge2.0-0',
  'libcups2',
  'libgbm1',
  'libasound2',
  'libpangocairo-1.0-0',
  'libxss1',
  'libgtk-3-0',
  'libxshmfence1',
  'libglu1'
]

[vars]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = 'true'
PUPPETEER_EXECUTABLE_PATH = '/nix/store/*-chromium-*/bin/chromium'